region_name = "{{ aws_region }}"
name_tag = "{{ aws_name_tag }}"
ami_id = "{{ aws_ami_id }}"
instance_type = "{{ aws_instance_size }}"
instance_count = {{ aws_instance_count }}
public_key = "{{ aws_instance_public_key }}"