project = "{{ gcp_project }}"
region = "{{ gcp_region }}"
zone = "{{ gcp_region }}-a"
image = "{{ gcp_image }}"
name = "{{ gcp_name_tag }}"
type = "{{ gcp_instance_type }}"
disksize = "{{ gcp_disk_size }}"
gcp_ssh_user = "{{ gcp_ssh_user }}"
public_key = "{{ gcp_instance_public_key }}"
startupscript = "{{ init_script_name }}"