#!/bin/bash

{% if prepare_callback_demo is defined and prepare_callback_demo | bool %}
curl -k -s -i -X POST -H 'Content-Type:application/json' --data '{"host_config_key": "{{ ansible_controller_host_key }}"}' {{ ansible_controller_url }}/api/v2/job_templates/{{ ansible_controller_template_id }}/callback/ 2>&1
{% endif %}


